a {
    color: black;
    }
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    position: relative;
    padding: 0;
    text-align: center;
    }
body > span {
    display: none;
    }
body > div {
    background: white;
    height: 50em;
    margin: 2em auto;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 70em;
    }
h1,
h2 {
    position: relative;
    text-align: center;
    top: 30%;
    }
h3, h4, h5, h6 {
    margin: .75em 0;
    padding: 0 40px;
    }
h1 { font-size: 270%; }
h2 { font-size: 200%; font-weight: 300; }
h3 { font-size: 180%; }
h4 { font-size: 150%; }
h5 { font-size: 130%; }
h6 { font-size: 100%; }
html {
    background: black;
    margin: 0;
    padding: 0;
    }
#help {
    color: gainsboro;
    font-size: 80%;
    }
    #help a {
        color: inherit;
        }

div > div {
    border-top: 10px solid;
    font-size: 150%;
    line-height: 1.4em;
    height: 100%;
    left: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    }
    div > div * {
        position: relative;
        z-index: 100;
    }
    div > div blockquote {
        background: gainsboro;
        display: block;
        font-style: italic;
        font-weight: 300;
        line-height: 2.5ex;
        margin: 0;
        padding: 1em 0;
        }
        div > div blockquote a {
            font-weight: bold;
            }
        div > div blockquote footer {
            left: 0;
            padding: 0 40px;
            position: relative;
            text-align: right;
            top: 0;
        }
    div > div kbd {
        bottom: .5em;
        color: #F9F9F9;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1600%;
        font-weight: bold;
        position: absolute;
        right: 0;
        z-index: 0;
    }
    div > div ol,
    div > div ul {
        margin: .5em 0 .5em 100px;
        padding: 0;
        }
        div > div li ol,
        div > div li ul {
            margin-left: 30px;
            }
    div > div p {
        margin: 0;
        padding: .5em 40px;
        }
    div > div pre {
        background: #333;
        color: #FFFFFF;
        font-family: 'Ubuntu Mono', sans-serif;
        line-height: 2.2ex;
        margin: 0;
        padding: .75em 80px;
        position: relative;
        }
        div > div pre code {
            display: block;
            }
        div > div pre p {
            padding: 0;
            }
    div > div > footer {
        border-bottom: 10px solid;
        bottom: 0;
        display: block;
        font-size: 70%;
        padding: 0 1em;
        position: absolute;
        right: 0;
        text-align: right;
        width: 100%;
        }
        div > div > footer span {
            background: white;
            display: inline-block;
            padding: 0 1em;
        }
